<nav class="menu">
    <LinkTo @route="index" class="menu-index">
    <h1>EmployeeCLI</h1>
    </LinkTo>
    <div class="links">
        <LinkTo @route="courses" class="menu-courses">
        Courses</LinkTo>
    </div>
</nav>